/* @link https://codepen.io/adam2326/pen/VYMOdx/ by Adam2326 */
:root {
  --main-font: "Work Sans", sans-serif;
  --bg-parent-color: #a01c32;
  --bg-parent-alpha-color: #a01c32bf;
  --bg-color: #000;
  --bg-alpha-color: #000000bf;
  --border-color: #6373b6;
  --border-alpha-color: #6373b6bf;
  --text-color: #ebf4fa;
  --text-alpha-color: #ebf4fabf;

  /* Gray-scale */

  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;

  --white-alpha-color: #ffffff80;
  --black-alpha-color: #12121202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-form {
  /* width: 100%; */
  margin: 0;
}
.input {
  position: relative;
  display: block;
  /* width: 100%;
  height: 2rem; */
  margin: 2rem 0 0 0;
  clear: both;
}

.input span {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  /* position: absolute; */
  left: 0;
  cursor: text;
}
.input span span {
  position: absolute;
  top: 0;
  /* z-index: 1; */
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--first-color);
  text-indent: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.input span:before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 99; */
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.input span:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0;
  right: 0;
  /* z-index: 99; */
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.contact-form input {
  width: 100%;
  height: 2rem;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid var(--border-alpha-color);
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  font-family: var(--main-font);
  font-size: 1rem;
  /* position: relative;
  z-index: 99; */
}
.contact-form input:focus {
  outline: 0;
}

.contact-form input:focus + span span {
  cursor: initial;
  position: absolute;
  top: -24px;
  color: var(--first-color);
}
.contact-form input:focus + span:before {
  width: 50%;
}
.contact-form input:focus + span:after {
  width: 50%;
}
.contact-form span.fixed span {
  top: -24px;
}

.contact-form textarea {
  width: 100%;
  /* height: auto; */
  margin-top: 2rem;
  border: thin solid var(--border-alpha-color);
  text-indent: 4px;
  font-weight: bold;
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: transparent;
  resize: none;
}

.contact-form textarea::placeholder {
  font-family: var(--main-font);
  color: var(--text-alpha-color);
  text-indent: 4px;
}

main {
  margin: 2rem auto;
  width: 50vw;
  max-width: 480px;
  height: 100vh;
}
