/* @link https://codepen.io/adam2326/pen/VYMOdx/ by Adam2326 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.middle {
  width: 460px;
  margin: 0 auto;
}
h1 {
  margin: 50px 0 0 0;
  color: #000;
  font-family: "Indie Flower", cursive;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
.fancy-inputs {
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
}
.input {
  float: left;
  width: 460px;
  height: 42px;
  margin: 50px 0 0 0;
  position: relative;
  clear: both;
}
.input span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  cursor: text;
}
.input span span {
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: "Indie Flower", cursive;
  font-size: 22px;
  color: #000;
  text-indent: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.input span:before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #2c3e50;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.input span:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #2c3e50;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.fancy-inputs input {
  float: left;
  width: 460px;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-bottom: 3px solid #000;
  background-color: transparent;
  color: #000;
  font-family: "Indie Flower", cursive;
  font-size: 22px;
  position: relative;
  z-index: 99;
}
.fancy-inputs input:focus {
  outline: 0;
}
.fancy-inputs input.white {
  background-color: #e74c3c;
}
.fancy-inputs input:focus + span span {
  cursor: initial;
  position: absolute;
  top: -35px;
  color: #2c3e50;
}
.fancy-inputs input:focus + span:before {
  width: 50%;
}
.fancy-inputs input:focus + span:after {
  width: 50%;
}
.fancy-inputs span.fixed span {
  top: -35px;
}
.btn {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 50px 0;
  background-color: #2c3e50;
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.btn:hover {
  background-color: #374b60;
}
